# HTTP SERVER
HOST=0.0.0.0
PORT=3000

# POSTGRESQL
PGHOST=localhost
PGUSER=postgres
PGDATABASE=forumapi
PGPASSWORD=change_me
PGPORT=5432

# JWT
ACCESS_TOKEN_KEY=change_me_access_token_key
REFRESH_TOKEN_KEY=change_me_refresh_token_key
ACCESS_TOKEN_AGE=3000
